html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-margin-top: 70px;
}

ul,
ol {
  padding: 0;
}

body {
  @include font($regular, $size-16, $lh-24);
  font-family: $main-family;
  color: $font-color-first;
  font-smoothing:antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.list-style {
  list-style: none;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      content: '';
      height: 12px;
      width: 12px;
      border: 1px solid $font-color-secondary;
      transform: skewX(-10deg);
    }
  }

}

picture {
  display: block;
  max-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  font: inherit;
  padding: 0;
  border: none;
  background-color:transparent;
  outline: transparent;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  p:not(:last-child) {
    margin-bottom: 15px;
  }
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  display: inline-block;
}
main {
  height: calc(100vh - 50px);
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @media(max-width: 768px) {
    max-width: 1230px;
    padding: 0 15px;
  }
}
.container__fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  @media(max-width: 768px) {
    max-width: 1430px;
    padding: 0 15px;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  color: $font-color-first;
  &:hover {
    &:before {
      box-shadow: none;
      background-color:$background-hover-btn;
    }
  }
  &:before {
    content: '';
    transform: skew(-10deg);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $background-color-first;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .25s;
    border-radius: 3px;
  }
}

.logo {
  max-width: 238px;
  width: 100%;
  height: 50px;
  @media(max-width: 768px) {
    height: 40px;
    max-width: 190px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.social {
  display: flex;
  align-items: center;
  &__item {
    height: 25px;
    &:not(:first-child) {
      margin-left: 25px;
    }
  }
  &__icon {
    fill: $font-color-ternary;
    width: 100%;
    height: 24px;
    transition: fill 0.3s;
    &:hover {
      fill: $font-color-secondary;
    }
  }
}
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #152040;
  z-index: -10;
  object-fit: cover;
}
.title-style {
  display: flex;
  align-items: center;
  @include font($bold,$size-35,$lh-45);
  font-family: $heading-family;
  margin: 0 auto 30px;
  max-width: fit-content;
  position: relative;
  @media (max-width: 768px) {
    @include font($bold,$size-24,$lh-34);
    margin-bottom: 20px;
  }
  &::before {
    display: block;
    content: '';
    height: 45px;
    width: 1px;
    background-color: $background-color-first;
    transform: rotate(10deg);
    margin-right: 40px;
  }
  &::after {
    display: block;
    content: '';
    height: 45px;
    width: 1px;
    background-color: $background-color-first;
    transform: rotate(10deg);
    margin-left: 40px;
  }
}